
@import "../../../styles/mis-variables";


.quote {
    color: #8cc540;
    font-style: italic;
}

.redText {
    color: Red;
    font-size: 12px;
    font-family: Arial;
}

h1.titleText {
    color: #69a8cf;
    text-align: left;
    margin-top: 40px;
    font-weight: normal;
}

 
  .my-long-panel {
    // background-color: $oxido-claro;
    // color: Red;
  }


  .cabecera-time {
    font-size: 14px !important;
    margin-right: 7px !important;
    margin-left: 20px !important;
  }

