// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// mis colores
$oxido: rgb(241, 170, 88);
$oxido-claro: #e6e485;
$topnav-background-color: rgb(75, 71, 53);
// Color system
