<div class="card contenedor">
    <div class="container-fluid">
        <div class="card-header card-header-danger color-modal-header">
            <h4 class="card-title">Contacta con nosotros</h4>
            <p class="card-category">Atenderemos tu mensaje lo antes posible, gracias</p>
        </div>


        <div class="card">

            <div class="card-body">
                <form #variableForm="ngForm">
                    <div class="row">
                        <div *ngIf="!authService.isAuthenticated()" class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Cuenta de correo</mat-label>
                                <input matInput class="form-control"
                                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" id="email"
                                    name="email" placeholder="cuenta@ejemplo.es"
                                    [(ngModel)]="emailContactoCliente.email" #email="ngModel" minlength="5"
                                    maxlength="40" required>
                                <mat-hint> Requerido
                                </mat-hint>
                                <mat-error *ngIf="email.hasError('required')">
                                    Es <strong>necesario rellenar </strong> este campo
                                </mat-error>
                                <mat-error *ngIf="email.hasError('minlength') || email.hasError('maxlength')">
                                    Debe tener entre 5 y 40 posiciones
                                </mat-error>
                                <mat-error *ngIf="email.hasError('pattern')">
                                    Error en formato de correo
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngIf="!authService.isAuthenticated()" class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre</mat-label>
                                <input matInput class="form-control" id="nombre" name="nombre"
                                    [(ngModel)]="emailContactoCliente.nombre" #nombre="ngModel"
                                    minlength="4" maxlength="20">
                                    <mat-hint> Opcional
                                    </mat-hint>
                                <mat-error *ngIf="nombre.hasError('minlength') || nombre.hasError('maxlength')">
                                    Debe tener entre 5 y 20 posiciones
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Teléfono</mat-label>
                                <input matInput class="form-control" id="telefono" name="telefono"
                                    placeholder="11 o 9 dígitos" [(ngModel)]="emailContactoCliente.telefono" #telefono="ngModel"
                                    minlength="9" maxlength="11">
                            
                                    <mat-hint> Opcional
                                    </mat-hint>
                                <mat-error *ngIf="telefono.hasError('minlength') || telefono.hasError('maxlength')">
                                    Debe tener entre 9 y 11 posiciones
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <textarea matInput class="form-control" 
                              placeholder="Ponga aquí su consulta o sugerencia, el mensaje debe tener entre 18 y 500 caracteres "
                              id="mensaje" name="mensaje" [(ngModel)]="emailContactoCliente.mensaje"
                              #mensaje="ngModel"  minlength="18" maxlength="500" required>
                            </textarea>
                            <mat-error *ngIf="mensaje.hasError('required')">
                              Es <strong>necesario rellenar </strong> este campo
                            </mat-error>
                            <mat-error *ngIf="mensaje.hasError('minlength') || mensaje.hasError('maxlength')">
                                Debe tener entre 18 y 500 caracteres
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    <br>

                    <ul class="alert alert-danger" *ngIf="erroresValidacion?.length > 0">
                        <h6>Errores de validación detectados por el backend</h6>
                        <li *ngFor="let err of erroresValidacion">
                            {{err}}
                        </li>
                    </ul>
                </form>
            </div> <!-- card-body-->
            <div class="card-footer grupo-botones">
                <button mat-raised-button class="margin-right" color="primary" (click)='enviar(emailContactoCliente)'
                    [disabled]="!variableForm.form.valid">Enviar</button>
                <button mat-raised-button class="margin-right" color="primary" (click)="salir()">Salir</button>
            </div>
        </div>


    </div> <!-- main container-->