.con-scroll {
    overflow: scroll;
}

.contenedor {
    width: 80%;
    // margin: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 576px) {
    .contenedor {
        width: 95%;
        margin: 1.5%;
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card-title,
mat-card-content>p {
    font-size: 15px ! important;
    font-family: Helvetica;
    text-align: center ! important;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .example-custom-date-class {
    background: orange;
    border-radius: 100%;
    pointer-events: none;
    opacity: 0.7;
   
  }
  