<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <!-- row para card con tabla platos y la tabla de seleccion -->
      <div class="col-md-4" [ngClass]="{'my-disable': disableMS, 'my-invisible': invisibleMS}">
        <!-- col-md-4 para las tablas de platos -->
        <div class="card" *ngIf="menu">
          <!-- card para la tabla de platos -->
          <div class="card-header card-header-danger color-modal-header">
            <h2 class="card-title">Configuración</h2>
            <h4 class="card-title">{{menu.label}}</h4>
          </div>
          <!-- <div class="card-body"> -->
          <!-- tabla primer plato -->
          <div class="card-body table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <!-- Cabeceras y ordenacion -->
                <tr>
                  <th>img
                  </th>

                  <th (click)='sortChangeColumnMS("label")'>
                    <div class="arrow-up" *ngIf='ordenMenuSugerencia.direction=="asc" &&
                    ordenMenuSugerencia.order=="label"'>
                    </div>
                    <div class="arrow-down" *ngIf='ordenMenuSugerencia.direction=="desc" &&
                    ordenMenuSugerencia.order=="label"'>
                    </div>
                    plato
                  </th>
                  <th (click)='sortChangeColumnMS("plato")'>
                    <div class="arrow-up" *ngIf='ordenMenuSugerencia.direction=="asc" &&
                    ordenMenuSugerencia.order=="plato"'>
                    </div>
                    <div class="arrow-down" *ngIf='ordenMenuSugerencia.direction=="desc" &&
                    ordenMenuSugerencia.order=="plato"'>
                    </div>
                    orden
                  </th>

                </tr>
              </thead> <!-- Cabeceras y ordenacion fin -->

              <tbody>
                <!-- filas con datos -->
                <tr *ngFor="let ms of menu.menuSugerencias">
                  <td style="width: 100px">
                    <img *ngIf="ms.sugerencia.imgFileName"
                      src="{{host}}/api/sugerencia/uploads/img/{{ms.sugerencia.imgFileName}}" 
                      alt="foto de sugerencia para el menú"
                      class="rounded" style="width: 100px; cursor: pointer;">
                  </td>
                  <td style="width: 300px !important ">{{ms.sugerencia.label}}</td>
                  <!-- <td style="width: 200px !important ">{{ms.primerPlato | ordenPlato}}</td> -->
                  <td style="width: 200px !important ">{{ms.componenteMenu}}

                      <button type="button" class="btn btn-danger btn-sm" (click)='deleteMenuSugerencia(ms)'>
                      <i class="fa fa-trash-o"></i></button>
                  </td>

                </tr>
              </tbody> <!-- filas con datos fin -->
            </table>
          </div> <!-- card-body -->
          <!-- tabla primer plato fin -->
          <!-- </div> -->
          <div class="card-footer grupo-botones">
            <div class="row">
              <div class="col">
                <button mat-raised-button style="margin-right:5px; margin-bottom: 4px;" color="primary"
                  (click)='configurarMenu("PRIMERO")'>Primeros</button>
              </div>
              <div class="col">
                <button mat-raised-button style="margin-right:5px; margin-bottom: 4px;" color="primary"
                  (click)='configurarMenu("SEGUNDO")'>Segundos</button>
              </div>
              <div class="col">
                <button mat-raised-button style="margin-right:5px; margin-bottom: 4px;" color="primary"
                  (click)='configurarMenu("POSTRE")'>Postres</button>
              </div>
              <div class="col">
                <button mat-raised-button style="margin-right:5px; margin-bottom: 4px;" color="primary" 
                (click)="salir()">Salir</button>
              </div>
            </div>
          </div>

        </div> <!-- card para la tabla de platos -->
      </div> <!-- col-md-4 para las tablas de platos -->

      <!-- +++++++++++++++++++ Tabla para la seleccion de sugerencias del menu ++++++++++++++++++++++ -->
      <!-- +++++++++++++++++++ Tabla para la seleccion de sugerencias del menu ++++++++++++++++++++++ -->
      <!-- +++++++++++++++++++ Tabla para la seleccion de sugerencias del menu ++++++++++++++++++++++ -->
      <!-- +++++++++++++++++++ Tabla para la seleccion de sugerencias del menu ++++++++++++++++++++++ -->
      <!-- +++++++++++++++++++ Tabla para la seleccion de sugerencias del menu ++++++++++++++++++++++ -->
      <div class="col-md-8" *ngIf="sugerencias" [ngClass]="{'my-disable': disable}">
        <!-- tabla para la seleccion de sugerencias -->
        <div class="card text-center" *ngIf="menu">
          <div class="card-header color-modal-header">
            <h5>Selección "{{componenteMenu}}" para el menú <span>{{menu.label}}</span> </h5>
          </div>
          <div class="card-title">
            <div *ngIf="sugerencias?.length==0" class="alert alert-info"> Lista vacía
              <!-- <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm" style="margin-right: 8px"
                (click)='crear()'>{{'Crear sugerencia' |translate}}</button> -->
              <button *ngIf="filterChecked" class="btn btn-primary btn-sm" style="margin-right: 8px"
                (click)='quitarFiltros()'>{{'Desactivar filtros' |translate}}</button>
            </div>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-bordered table-striped" *ngIf="sugerencias?.length>0">
              <thead>
                <tr>
                  <th>
                  </th>
                  <th [ngClass]="{bloqueoFiltro: filterChecked, desbloqueoFiltro: !filterChecked}"
                    (click)='sortChangeColumn("label")'>
                    <div class="arrow-up" *ngIf='filtroSugerencia.direction=="asc" &&
                                                filtroSugerencia.order=="label"'></div>
                    <div class="arrow-down" *ngIf='filtroSugerencia.direction=="desc" &&
                                                filtroSugerencia.order=="label"'></div>
                    label
                  </th>

                  <th [ngClass]="{bloqueoFiltro: filterChecked, desbloqueoFiltro: !filterChecked}"
                    (click)='sortChangeColumn("tipo")'>
                    <div class="arrow-up" *ngIf='filtroSugerencia.direction=="asc" &&
                                              filtroSugerencia.order=="tipo"'></div>
                    <div class="arrow-down" *ngIf='filtroSugerencia.direction=="desc" &&
                                              filtroSugerencia.order=="tipo"'></div>
                    tipo
                  </th>

                  <th [ngClass]="{bloqueoFiltro: filterChecked, desbloqueoFiltro: !filterChecked}"
                    (click)='sortChangeColumn("precio")'>
                    <div class="arrow-up" *ngIf='filtroSugerencia.direction=="asc" &&
                                              filtroSugerencia.order=="precio"'></div>
                    <div class="arrow-down" *ngIf='filtroSugerencia.direction=="desc" &&
                                              filtroSugerencia.order=="precio"'></div>
                    precio
                  </th>

                  <th [ngClass]="{bloqueoFiltro: filterChecked, desbloqueoFiltro: !filterChecked}"
                    (click)='sortChangeColumn("descripcion")'>
                    <div class="arrow-up" *ngIf='filtroSugerencia.direction=="asc" &&
                                              filtroSugerencia.order=="descripcion"'></div>
                    <div class="arrow-down" *ngIf='filtroSugerencia.direction=="desc" &&
                                              filtroSugerencia.order=="descripcion"'></div>
                    descripción
                  </th>

                  <!-- <th *ngIf="authService.hasRole('ROLE_ADMIN')"><i class="fa fa-trash-o"></i></th> -->
                  <!-- <th *ngIf="authService.hasRole('ROLE_ADMIN')"><i class="fa fa-edit"></i></th> -->
                </tr>
              </thead>

              <thead>
                <tr>
                  <th [ngClass]="{bloqueoFiltro: filterChecked, desbloqueoFiltro: !filterChecked}">
                    <mat-slide-toggle [(ngModel)]="filterChecked" (change)="changedFilter()">
                      Filtro
                    </mat-slide-toggle>
                  </th>
                  <th>
                    <mat-form-field class="example-full-width">
                      <input matInput name="label" [disabled]="filterChecked"
                        [(ngModel)]="filtroSugerencia.label" #label="ngModel" maxlength="80">
                      <mat-icon matSuffix>search</mat-icon>  
                      <mat-hint>busca dentro del nombre del producto</mat-hint>  
                    </mat-form-field>
                  </th>
                  <th style="width: 250px !important">
                    <mat-form-field>
                      <!-- <mat-label>Filtro grupo sugerencia</mat-label> -->
                      <select matNativeControl id="tipoP" name="tipoP" [disabled]="filterChecked"
                        [(ngModel)]="filtroSugerencia.tipo" #tipoP="ngModel">

                        <option label="-- filtro grupo de tipos --"></option>
                        <option *ngFor="let tipo of tipoPlatos" [value]="tipo.nombre">
                          {{tipo.nombre}}
                        </option>
                      </select>
                    </mat-form-field>
                  </th>

                  <th style="width: 230px !important">
                    <mat-form-field style="width: 105px !important; margin-right: 2px;">
                      <mat-label>Mínimo</mat-label>
                      <input matInput type="number"  name="precioMin"
                        [disabled]="filterChecked" [(ngModel)]="filtroSugerencia.precioMin" #precioMin="ngModel"
                        maxlength="5">
                    </mat-form-field>

                    <mat-form-field style="width: 105px !important">
                      <mat-label>Máximo</mat-label>
                      <input matInput type="number" name="precioMax" 
                        [disabled]="filterChecked" [(ngModel)]="filtroSugerencia.precioMax" #precioMax="ngModel"
                        maxlength="5">
                    </mat-form-field>

                  </th>
                  <th>
                    <mat-form-field class="example-full-width">
                      <input matInput name="descripcion" placeholder="descripción"
                        [disabled]="filterChecked" [(ngModel)]="filtroSugerencia.descripcion" #descripcion="ngModel"
                        maxlength="80">
                        <mat-icon matSuffix>search</mat-icon> 
                      <mat-hint>busca dentro de la descripción del producto</mat-hint>  
                    </mat-form-field>
                  </th>

                  <th [ngClass]="{bloqueoFiltro: filterChecked, desbloqueoFiltroa: !filterChecked}">
                    Filtro
                    <mat-slide-toggle [(ngModel)]="filterChecked" (change)="changedFilter()">

                    </mat-slide-toggle>
                  </th>
                <tr>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let sugerencia of sugerencias">
                  <td style="width: 100px">
                    <!-- <img *ngIf="sugerencia?.imgFileName" (click)='update(sugerencia)'
                      src="{{host}}/api/sugerencia/uploads/img/{{sugerencia.imgFileName}}" alt="foto sugerencia"
                      class="img-thumbnail2 rounded" style="width: 200px; cursor: pointer;"> -->
                    <img *ngIf="sugerencia?.imgFileName" (click)='addMenuSugerencia(sugerencia)'
                      src="{{host}}/api/sugerencia/uploads/img/{{sugerencia.imgFileName}}" 
                      alt="foto sugerencia de la carta"
                      class="rounded" style="width: 100px; cursor: pointer;">
                  </td>
                  <td style="width: 300px !important ">{{ sugerencia.label}}</td>
                  <td>{{ sugerencia.tipo}}</td>
                  <td>{{ sugerencia.precio}}</td>
                  <!-- <td>{{ sugerencia.descripcion}}</td> -->
                  <td><div [innerHTML]=sugerencia.descripcion></div></td>

                  <!-- <td *ngIf = "authService.hasRole('ROLE_ADMIN')"> -->
                  <td class="btncolumn" *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button type="button" class="btn btn-danger btn-sm" (click)='addMenuSugerencia(sugerencia)'>
                      <i class="fa fa-plus"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- card-body -->


          <div class="card-footer text-muted con-scroll">
            <div class="row">
              <div class="col">
                <paginator-nav *ngIf="paginador" [paginador]="paginador" [sizes]="[5, 10, 15, 30, 50]"
                  [sizePage]=+filtroSugerencia.size (messageToEmit)="getPagina($event)">
                </paginator-nav>
              </div>
              <div class="col">
                <button mat-raised-button color="primary" style="margin-right: 8px" (click)='salirSeleccion()'>
                  Salir</button>
              </div>

            </div>
          </div> <!-- card-footer -->
        </div> <!-- card -->

      </div> <!-- tabla para la seleccion de sugerencias fin -->
    </div> <!-- row para card con tabla platos y la tabla de seleccion -->
  </div>
</div>
