<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Subir imagenes de la portada</h4>
            <p class="card-category">Busque las imagenes en su pc para cambiar la portada</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <app-upload-foto></app-upload-foto>
              </div>
              <div class="col-md-4">
                <app-upload-foto></app-upload-foto>
              </div>
              <div class="col-md-4">
                <app-upload-foto></app-upload-foto>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                2
              </div>
              <div class="col-md-5">
                5
              </div>
              <div class="col-md-5">
                5
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">12

              </div>
            </div>

          </div>
          <div class="card-footer grupo-botones">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
