
@import "../../../../styles/mis-variables";

.con-scroll {
    overflow: scroll;
  }

  select option {
    background-color: $oxido-claro !important;
  
    // font-weight: bold !important;
    color: rgb(49, 45, 4) !important;
  }

// .corto {
//   width: 80px !important;
// }

