<!-- <div [@routerTransition]> -->

<div class="row">


  <div class="col-md-8">
    <!-- <app-loading [loading]= "loading"></app-loading> -->
    <div class="loading" *ngIf="shareEmpresaService.slidersData.length==0">
      <img src="../../assets/images/Spinner-2.gif" /> 
    </div> 
    
    <ngb-carousel  *ngIf="shareEmpresaService.slidersData.length>0">
      <ng-template *ngFor="let sliderData of shareEmpresaService.slidersData" ngbSlide>
        <!-- <img [src]="slider.imagePath" alt="Random first slide" class="img-fluid mx-auto d-block" width="100%" /> -->
        <!-- <img [src]="slider.imgFileName" alt="Random first slide" class="img-fluid mx-auto d-block rounded" /> -->
        <!-- <img src="{{host}}/api/empresa/uploads/img/{{slider.imgFileName}}"  -->
        <img [src] =sliderData.imgFileData
        alt="Random first slide" class="img-fluid mx-auto d-block rounded" />
        <div class="carousel-caption">
          <h5>{{ sliderData.label }}</h5>
          <!-- <p>{{ slider.descripcion }}</p> -->
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="col-md-4">
    <div class="container-fluid">

      <div [innerHTML]=empresa.portada></div>

      <a [routerLink]="['/contacto']" class="btn btn-banner1 my-sm-3 mb-3">Contacte con nosotros</a>
    </div>
  </div>

</div>
<hr />

<router-outlet></router-outlet>


