<!-- <div class="container" style="border: 228rem;"> -->

<div class="card contenedor">
  <div class="card-header color-modal-header">
    <h3>Configuración de menús</h3>
  </div>
  <div class="card-title">
    <div *ngIf="!menus" class="alert alert-info">Esperando carga de imagenes</div>
    <div *ngIf="menus?.length==0" class="alert alert-info"> Lista vacía
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm" style="margin-right: 8px"
        (click)='create()'>{{'Crear Menú' |translate}}</button>
    </div>
  </div>

  <div class="card-body row">
    @for(menu of menus; track menu.imgFileName) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <mat-card appearance="outlined" style="margin-bottom: 30px;">
        <mat-card-header>
          <!-- <img *ngIf="menu?.imgFileName" mat-card-avatar src="{{host}}/api/empresa/uploads/img/admin/menu_peque.png"> -->     
          <!-- <mat-card-title>{{menu.label | slice:0:35}}...</mat-card-title> -->
        </mat-card-header>
        <img *ngIf="menu?.imgFileName" class="img-thumbnail" 
            src="{{host}}/api/menu/uploads/img/{{menu.imgFileName}}"
            alt="Imágenes de los menus">
        <mat-card-content>
          <!-- <p> precio: {{menu.precio}}</p> -->
          <p>{{menu.label | slice:0:37}}</p>
        </mat-card-content>
        <mat-card-actions class="grupo-botones">
          <div class="row">
            <div class="col">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button style="margin-right: 1px"
                (click)='update(menu)'>{{'Edit' |translate}}</button>
            </div>
            <div class="col">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button style="margin-right: 1px"
                [routerLink]="['/admin-index/admmenusugerencia', menu.id]">
                {{'Platos' |translate}}
              </button>
            </div>
            <div class="col">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button style="margin-right: 1px"
                (click)='create()'>{{'Create' |translate}}</button>
            </div>
            <div class="col">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-button style="margin-right: 1px"
                (click)='delete(menu)'>{{'Delete' |translate}}</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </div>

</div>
